@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

.app {
  font-family: sans-serif;
  padding: 2rem;
  max-width: 500px;
  margin: auto;
}

/* Cleaner font */
* {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
}

button {
  padding: 0.6rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.92;
}

.log-card {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

ul {
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
}

.json-output {
  margin-top: 1rem;
  background: #111;
  color: #0f0;
  padding: 1rem;
  border-radius: 6px;
  font-size: 0.85rem;
} 


/* For tab buttons */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button.active {
  font-weight: bold;
  /* border-bottom: 2px solid white; */
}

.tabs button {
  margin-top: 0;
  flex: 1;
}

.tabs button.active {
  background: rgb(215, 215, 215);
  /* font-weight: 300; */
  border-radius: 3px;
}


/* Cards */
.log-card,
.summary-card {
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid #5f6679;
  border-radius: 10px;
  background: rgba(255,255,255,0.03);
}

/* Inputs */
input {
  width: 95.5%;
  border: 2px solid #9ba1b0;
  border-radius: 5px;
}

.submit-btn {
  background: #3ce97b;
  color: #0b480a;
  border: 2px solid #229a20;
  width: 20%;
}

/* "+" button */
.new {
  background: #ffffff;
  color: #000000;
  border: 2px solid #5f6679;
  border-radius: 10px;
  width: 10%;
  font-size: large;
  color: #5f6679;
}

.error-msg {
  color: red;
  margin-top: 8px;
  font-weight: bold;
}


/* Type selector */
.type-selector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0.75rem 0 1rem;
}

.type-selector button {
  border: 2px solid #b4b4b4;
  border-radius: 6px;
  font-weight: 400;
  color: #5f6679;
}